/* Colors used
  Primary Color (background color): white;
  Border Color: #a6a6a6;
  Text Color: #000000;
  Secondary Color: #eb0000;
*/

body { /* Basic website template */
  background-image: url(https://ak.picdn.net/shutterstock/videos/1012154675/thumb/4.jpg);
  padding: 10px;
  margin: 10px;
}

.navbar{ /* Navigation Bar styling */
  box-shadow: 5px 5px 5px  rgb(124, 122, 122);
  background-color: rgb(173, 52, 52);
}

.main-content { /* Styling for Pokedex */
  box-shadow: 10px  #000;
  background-color: rgba(243, 225, 60, 0.806);
  padding: 10px;
}

ul {
  list-style: none;
}

.button-class { /* Styling for pokemon button */
  background-color: #6ebee0;
  border: solid;
  color: rgb(0, 0, 0);
  padding: 16px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  text-transform: capitalize;
}

.modal-content { /* Styling for pokemon modal*/
  background-color: rgb(194, 189, 189);
  text-transform: capitalize;
  text-align: center;
  justify-content: center;
}