/* Colors used
  Primary Color (background color): white;
  Border Color: #a6a6a6;
  Text Color: #000000;
  Secondary Color: #eb0000;
*/

body {
  background-image: url(https://ak.picdn.net/shutterstock/videos/1012154675/thumb/4.jpg);
  padding: 10px;
  margin: 10px;
}

.website-body {
  box-shadow: 10px  #000;
  background-color: rgba(199, 25, 25, 0.826);
}

.navbar{
    box-shadow: 5px 5px 5px  rgb(124, 122, 122);
  background-color: rgba(199, 25, 25, 0.831)
}

h1 {
  padding-top: 15px;
  text-align: center;
  color: #eb0000;
}
