/* Colors used
  Primary Color (background color): white;
  Border Color: #a6a6a6;
  Text Color: #000000;
  Secondary Color: #eb0000;
*/

body {
  background-color: #a6a6a6;
  padding: 10px;
  margin: 10px;
}

.website-body {
  background-color: white;
  border: 3px solid #eb0000;
  box-shadow: 10px 10px 10px 2px black;
}

  h1 {
    padding: 15px;
    text-align: center;
    color: #eb0000;
  }

  .button-class {
    background-color: #ffffff;
    box-shadow: 1px 2px 2px  #eb0000;
    border: 1px solid black;
    border-radius: 30px;
    color: black;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
  }



  /* Potiental search bar
    .additional-information {
      display: none;
    }
    .additional-information.is-visible {
      display: block;
    }
  */
